*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color: black;
}
  
body{
    margin: 0 auto;
    font-size: 20px;
}

html, body{
    overflow-x: hidden;
} 

  /*Resuable Code*/ 
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}
  /*Heading*/ 

nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    justify-content: space-around;
    position: relative;
    top: 60px;
    
}

nav a{
    text-decoration: none;
    color:white;
    padding-bottom: 10px;
}

nav a:hover{
    color: #8f8b8b;
    transition: color  1s;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/tj-dragotta-Gl0jBJJTDWs-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.logo img{
    height: 90px;
    position: absolute; 
    left: 200px;
    top: 20px;
    
    
} 
  

.top{
    
    width: 100%;
    
    
}


.hero{
    position: absolute;
    top: 40%;
    left: 20%;
}

/*Text Styles*/
h1{
    font-size: 225%;
}

h1, h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 300;
}

h2{
    font-size: 100%;
}

h3{
    font-weight: 500;
    font-size: 150%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h3::after{
    content: "";
    display: block;
    background-color: #a10b0b;
    position: relative;
    width: 50px;
    height: 5px;
     
    margin-top: 5px;
    
}

.events h3{
    color: white;
    text-align: center;
}


.events h3::after{
    left: 394px;
}

.photos h3{ 
    text-align: center;
}

.photos h3::after{
    left: 43%;
    
}
   

/*Button */


.btn {
    text-decoration: none;
    color: white;
    border: 1px solid #a10b0b;
    border-radius: 200px;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 20px;
  }

  .fill{
    background-color: #a10b0b;
}

.fill:hover{
  background-color: #780505;
  transition: background-color 0.5s;
}

.contactus{
    font-size: 85%; 
    padding: 10px 20px;
    margin-top: 25px;
}

/*About Section*/

.picture img{
    height: 500px;
    
    position: absolute; 
    top: 15px;
    right: 10px;
    box-shadow: 5px 5px 5px #777777; 
}

 .picture-outline{
    /* border: 5px solid #a10b0b; */
    height: 500px;
    width: 555px;
    position: relative;
    float: none;
    display: inline-block;

} 
.about{
    padding-top: 100px;
}
.paragraph{
    float: right;
    /* border: 5px solid black; */
    width: 50%;
    position: relative;
    padding-left: 50px;
    top: 100px;
}
.about p {
    padding-top: 30px;
    line-height: 150%;
    width: 100%;
    font-size: 85%;
    font-weight: 300;
    
}

.picture{
    float: left;
}

/*Events*/

.events{
    background-color: #232423;
    
}

.fb-page{
    padding-top: 40px;
    left: 31%;
}

/*Photos*/ 
.apps{
    margin-top: 50px;
}

